:root {
    --color-primary-brand: #4D5AE5;
    --color-pressed-state: #404BBF;
    --color-valid-success: #31D0AA;
    --color-subtle-text: #8E8F99;
    --color-accent-text: #E7E9FC;
    --background-alerts: #F4F4FD;
    --color-body-text: #434455;
    --background-color-text: #2E2F42;
    --color-hover-heading: #ffffff;
    --time-transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--color-hover-heading);
    color: var(--color-body-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.link {
    text-decoration: none;
    display: inline-block;
}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.list {
    list-style: none;
}

.container {
    padding: 0 15px;
    max-width: 1158px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

button {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    border-radius: 4px;

    transition-property: color, border-color, box-shadow, background;
    transition-duration: var(--time-transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.btn:hover,
.btn:focus,
.team-network .social-netwerk-link:hover,
.team-network .social-netwerk-link:focus,
.active::after,
.close-btn:hover,
.close-btn:focus {
    background: var(--color-pressed-state);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--color-primary-brand);
}

/* social-network */
.team-network {
    display: flex;
    gap: 24px;
}

.social-netwerk-link {
    width: 40px;
    height: 40px;
    background-color: var(--color-primary-brand);
    border-radius: 50%;

    transition: background-color var(--time-transition-duration) var(--transition-timing-function);
}

.social-netwerk-icon {
    fill: var(--background-alerts);
}

/**------------------------------------ header------------------------------------------- */
.header {
    border-bottom: 1px solid var(--color-accent-text);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrapp {
    display: flex;
    align-items: center;
}

.header .link {
    display: block;
    padding: 24px 0;
}

.site-navigation {
    display: flex;
    margin-right: auto;
    /* align-items: center; */
}

.header-wrapp .logo {
    margin-right: 76px;
}

.logo-firstword {
    color: var(--background-color-text);
}

.navigation-list,
.contacts-list {
    display: flex;
    gap: 40px;
}

.navigation-items>.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color-text);
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
}

.contact {
    color: var(--color-body-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body-text);
}

.navigation-items .link,
.contact-item .contact {
    transition: color var(--time-transition-duration) var(--transition-timing-function);
}

.navigation-items .link:hover,
.navigation-items .link:focus,
.contact-item .contact:hover,
.contact-item .contact:focus {
    color: var(--color-pressed-state);
}

.contacts {
    font-style: normal;
}

/**------------------------------------ index-main--------------------------------------- */
/*?------------nodal ------------ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity var(--time-transition-duration) var(--transition-timing-function);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.overlay.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(1.2);
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--time-transition-duration) var(--transition-timing-function);

    min-width: 408px;
    height: 576px;
    padding: 15px;

    background: #FCFCFC;
    border: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    background: var(--color-accent-text);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background var(--time-transition-duration) var(--transition-timing-function);
}

.icon-close-btn {
    width: 8px;
    height: 8px;
    fill: var(--background-color-text);

    transition: color var(--time-transition-duration) var(--transition-timing-function);
}

.close-btn:hover .icon-close-btn,
.close-btn:focus .icon-close-btn{
    fill: var(--color-hover-heading);
}
/*?------------------------------------ hero--------------------------------------- */
.hero {
    background-color: var(--background-color-text);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/index/people-office.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    height: 600px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-hover-heading);
    width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    background: var(--color-primary-brand);
    color: var(--color-hover-heading);
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*?------------------------------------privilages--------------------------------------- */
.privilages-list {
    display: flex;
    gap: 24px;
}

.privilages-item {
    flex-basis: calc((100% - 72px) / 4);
}

.icon-box {
    background-color: var(--background-alerts);
    border-radius: 4px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.icon-box>.icon {
    width: 64px;
    height: 64px;
}

.item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color-text);
    margin-bottom: 8px;
}

.item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body-text);
}

/*?------------------------------------work--------------------------------------- */
.work {
    padding-top: 0;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-color-text);
    margin: 0 auto 72px;
}

.work-list {
    display: flex;
    gap: 24px;
}

.work-item {
    flex-basis: calc((100% - 48px) / 3);
    border: 1px solid var(--color-accent-text);
}

/*?------------------------------------team--------------------------------------- */
.team {
    background: var(--background-alerts);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-color-text);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-itam {
    background-color: var(--color-hover-heading);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.team-itam-wrapp {
    text-align: center;
    padding: 32px 16px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color-text);
    margin-bottom: 8px;
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body-text);
    margin-bottom: 8px;
}

.team-network .social-netwerk-link {
    padding: 12px;
}


.team-network .social-netwerk-icon {
    width: 16px;
    height: 16px;
}


/*?------------------------------------customers--------------------------------------- */
.customers-tittle {
    color: var(--background-color-text);
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11px;
    text-align: center;
    letter-spacing: 0.02em;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-link {
    border: 1px solid var(--color-subtle-text);
    border-radius: 4px;
    padding: 16px 32px;

    transition: border-color var(--time-transition-duration) var(--transition-timing-function);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--color-pressed-state);
}

.customers-logo {
    width: 104px;
    height: 56px;
    fill: var(--color-subtle-text);

    transition: fill var(--time-transition-duration) var(--transition-timing-function);
}

.customers-link:hover>.customers-logo,
.customers-link:focus>.customers-logo {
    fill: var(--color-pressed-state)
}

/**------------------------------------ portfolio - main---------------------------------  */
/*------------------------------------exampleworks--------------------------------------- */
.exampleworks {
    padding-top: 96px;
}

.filters-list {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.filter-btn {
    background: var(--background-alerts);
    height: 48px;
    color: var(--color-primary-brand);
    padding: 12px 24px;
    border: 1px solid var(--color-accent-text);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--color-hover-heading);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.exampleworks-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}

.exampleworks-item {
    flex-basis: ((100% - 48px) / 3);
}

.item-wrapp {
    border: 1px solid var(--color-accent-text);
    border-top: none;
    padding: 32px 16px;
}

.exampleworks-link {
    transition-property: color, border-color, box-shadow;
    transition-duration: var(--time-transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.exampleworks-link:hover,
.exampleworks-link:focus {
    border-color: var(--background-alerts);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.exampleworks-item .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color-text);
    margin-bottom: 8px;
}

.exampleworks-item .item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body-text);
}

.exampleworks-overlay {
    position: relative;
    overflow: hidden;
}

.overlay-background {
    position: absolute;
    top: 100%;
    left: 0;

    width: 360px;
    height: 300px;
    padding: 40px 32px;

    background: var(--color-primary-brand);

    transition: transform var(--time-transition-duration) var(--transition-timing-function);
}

.overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-alerts);
}

.exampleworks-link:hover .overlay-background,
.exampleworks-link:focus .overlay-background {
    transform: translateY(-100%);
}

/**------------------------------------ footer-------------------------------------------  */
.footer {
    background: var(--background-color-text);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-wrapp {
    display: flex;
}

.footer-box {
    margin-right: 120px;
}

.footer-text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-accent-text);
    width: 264px;
}

.logo-footerword {
    color: var(--background-alerts);
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-hover-heading);
    margin-bottom: 16px;
}


.footer-social-box .social-netwerk-link {
    padding: 8px;
}

.footer-social-box .social-netwerk-link:hover,
.footer-social-box .social-netwerk-link:focus {
    background-color: var(--color-valid-success);
}

.footer-social-box .social-netwerk-icon {
    width: 24px;
    height: 24px;
}